.login {
  display: grid;
  place-items: center;
  background-color: #000;
  height: 100vh
}
.login > img {
  width: 50%;
}

.login > a {
  padding: 20px;
  background-color: rgb(88, 216, 97);
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}
